/data/raw_videos
/data/landmarks copy

/src/__pycache__
/Miniconda3-latest-MacOSX-arm64.sh
Miniconda3-latest-MacOSX-arm64.sh
**/env/

.conda_env/
venv/

Miniconda3*.sh
Miniconda*.sh
Anaconda*.sh


# 1. Track the folder itself
/weights/

# 2. Ignore everything INSIDE the folder
/weights/*

# 3. Specifically allow this one file
!/weights/slt_model.pth

/data/landmarks.zip*.zip
*.zip
data/


.cursor

ASL_landmarks_float16/
WORDS_landmarks/